{% extends "base.html" %}

{% block title %}Brasdom - 确认你账户{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>
        你好, {{ current_user.username }}!
    </h1>
    <h3>You have not confirmed your account yet.<br>
        您还没有认证您的账户。
    </h3>
    <p>
        Before you can access this site you need to confirm your account.<br>
        在您进入个人页面之前您需要认证您的账户。
        Check your inbox, you should have received an email with a confirmation link.<br>
        检查您的邮箱，您会收到一封带有认证链接的邮件。
    </p>
    <p>
        Need another confirmation email?<br>
        需要再发一封认证邮件？
        <a href="{{ url_for('auth.resend_confirmation') }}">请点击这里</a>
    </p>
</div>
{% endblock %}
